<aside class="sidebar">
    <nav class="sidebar-nav">
        <a href="index.html" data-page="index.html"><span class="icon">&#11088;</span>Featured</a>
        <a href="apps.html" data-page="apps.html"><span class="fa fa-keyboard-o"></span>Apps</a>
        <a href="extensions.html" data-page="extensions.html"><span class="fa fa-puzzle-piece"></span>Extensions</a>
        <a href="cybersecurity.html" data-page="cybersecurity.html"><span class="fa fa-shield"></span>CyberSecurity</a>
    </nav>
    <div class="sidebar-footer">© 2026</div>
</aside>