<body class="home-page">
    <header class="topbar">        
        <div class="dropdown">
            <button class="dropdown-toggle">Pages ▾</button>
            <div class="dropdown-menu">
                <a href="apps.html">Apps</a>
                <a href="extensions.html">Extensions</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropdown-toggle">About ▾</button>
            <div class="dropdown-menu">
                <a href="about.html">Who We are</a>
                <a href="tech-stack.html">Tech stack</a>
            </div>
        </div>
        <div>
            <a href="index.html" class="home-btn">Home</a>
        </div>
    </header>
</body>